.sidenav {
  grid-area: sidenav;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80px;
  position: fixed;
  overflow-y: auto;
  transform: translateX(0px);
  transition: all 0.6s ease-in-out;
  z-index: 2;
  background-color: #fff;
  align-items: center;
}

.d-logo-area {
  margin: 15px 5px;
}

.mobile-logo {
  display: block;
}

.sidenav_ctn {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.sidenav__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2px;
}

.sidenav__list .sidenav-link {
  list-style: none;
  width: 100%;
  margin: 5px 0;
}

.sidenav-link a {
  display: flex;
  align-items: center;
  padding: 14px 10px;
  width: max-content;
  border-radius: 12px;
  margin: auto;
  transition: all 0.3 ease-out;
  position: relative;
}

.sidenav-link a:hover {
  background-color: #9baaf7;
}

.sidenav-link .active {
  background-color: #5570f1;
  color: #fff;
}

.sidenav-link .support {
  background-color: rgba(94, 99, 102, 0.1);
  border-radius: 16px;
  padding: 8px 5px;
}

.sidenav-link .gift {
  flex-direction: column;
  justify-content: flex-start;
  width: max-content;
  background-color: #ffcc9133;
  padding: 8px 5px;
}
.sidenav-link .gift div {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.sidenav-link a p {
  margin-bottom: 0;
}

.sidenav-link a p svg {
  margin: 0 5px;
}

.sidenav-link a p span {
  background-color: rgba(255, 204, 145, 1);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-left: 10px;
  position: absolute;
  top: 0;
  right: 0;
  color: rgba(28, 29, 34, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidenav-link a .logout-btn {
  color: #cc5f5f;
}
